<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <% include ./title.ejs%>
    

    <!-- Bootstrap Core CSS -->

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <div id="navigation"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">퇴원 학생 관리</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>상태</th>
                                        <th>과목</th>
                                        <th>학년</th>
                                        <th>주소</th>
                                        <th>이름</th>
                                        <th>선생님</th>
                                        <th>수업형태</th>
                                        <th>수강료</th>
                                        <th>납입일</th>
                                        <th>학교</th>
                                        <th>전화상담가</th>
                                        <th>방문상담가</th>
                                        <th>납입액</th>
                                        <th>전화 온 날</th>
                                        <th>방문 상담일</th>
                                        <th>첫 수업일</th>
                                        <th>
                                          퇴원 사유
                                        </th>
                                        <th>수정</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% for(let i = 0; i<student.length; i++){%>
                                    <% for(let j = 0; j<student[i].assignment.length; j++){ %>
                                      <tr>
                                          <td><%=total%></td>
                                          <td class="retireStatus"><%=student[i].assignment[j].attendance%></td>
                                          <td><%=student[i].assignment[j].subject%></td>
                                          <td><%=student[i].grade%></td>
                                          <td><%=student[i].address1%></td>
                                          <td><%=student[i].name%></td>
                                          <td><%=student[i].assignment[j].teacherName%></td>
                                          <td><%=student[i].assignment[j].classForm%></td>
                                          <td class="fee"><%=student[i].assignment[j].fee%></td>
                                          <td><%=student[i].assignment[j].depositDay%></td>
                                          <td><%=student[i].schoolName%></td>
                                          <td><%=student[i].assignment[j].calledConsultant%></td>
                                          <td><%=student[i].assignment[j].visitedConsultant%></td>
                                          <td class="depositFee"><%=student[i].assignment[j].depositFee%></td>
                                          <td><%=student[i].assignment[j].callingDay%></td>
                                          <td><%=student[i].assignment[j].visitingDay%></td>
                                          <td><%=student[i].assignment[j].firstDate%></td>
                                          <td><%=student[i].assignment[j].failReason%></td>
                                          <td class="center"><button onclick="location.href='/student/'+<%=student[i].id%>+'/'+<%=student[i].assignment[j].id%>">수정</button></td>
                                      </tr>
                                      <% total -= 1%>
                                    <% } %>
                                  <% } %>
                                </tbody>    
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/jquery/custom.js"></script>


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

    <script>
        $(() => {
            $("#navigation").loadNavigation();
            $('.retireStatus').each(function(){
                switch(parseInt($(this).text())){
                    case 1: $(this).text('첫 수업후 퇴원'); break;
                    case 0: $(this).text('퇴원');
                }
            });

            $('.fee').setComma();
            $('.depositFee').setComma();
            $(() => {
            $('#dataTables-example').children('thead').children('tr').children('th').css('white-space', 'nowrap')
            $('#dataTables-example').children('thead').children('tr').children('th').css('text-align', 'center')
            $('#dataTables-example').children('tbody').children('tr').children('td').css('white-space', 'nowrap')
            $('#dataTables-example').children('tbody').children('tr').children('td').css('text-align', 'center')
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        });

    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
        
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
   <!-- DataTables JavaScript -->
   <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
   <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
   <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
</body>

</html>
