<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <% include ./title.ejs%>

  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- DataTables CSS -->
  <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <div id="navigation"></div>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">선생님 배정</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>

      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              신청 학생 정보
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <form role="form" id="assign-form" value="<%=assignId%>">
                    <div class="form-group col-lg-4">
                      <label>이름</label>
                      <input class="form-control" value="<%=student.name%>" disabled>
                    </div>
                    <div class="form-group col-lg-4 col-lg-offset-4 col-lg-pull-2">
                      <label>성별</label>
                      <div class="form-group">
                        <label class="radio-inline">
                          <input type="radio" name="optionsRadiosInline1" id="sgender1" value="option1" checked><%=student.gender%>
                        </label>
                      </div>
                    </div>

                    <div class="form-group col-lg-4">
                      <label>주소</label>
                      <div class="form-inline">
                        <select class="form-control" disabled> 
                          <option><%=student.address1%></option>
                        </select>
                        <select class="form-control" disabled> 
                          <option><%=student.address2%></option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group col-lg-8">
                      <label>상세 주소</label>
                      <input class="form-control" value="<%=student.address3%>" disabled>
                    </div>
                    <div class="form-group col-lg-4">
                      <label>학교</label>
                      <input class="form-control" value="<%=student.schoolName%>" disabled>
                    </div>
                    <div class="form-group col-lg-2 col-lg-offset-6 col-lg-pull-6">
                      <label>학년</label>
                      <select class="form-control" disabled>
                        <option><%=student.grade%></option>
                      </select>
                    </div>

                    <div class="form-group col-lg-4">
                      <label>과목</label>
                      <select class="form-control" disabled>
                        <option><%=student.subject%></option>
                      </select>
                    </div>

                    <div class="form-group col-lg-4">
                      <label>수업형태</label>
                      <select class="form-control" disabled>
                        <option><%=student.classForm%></option>
                      </select>
                    </div>

                    <div class="form-group col-lg-12">
                      <label>학생 성향</label>
                      <input type="textarea" class="form-control" value="<%=student.studentMemo%>" disabled>
                    </div>

                    <div name="schedules" id="schedules">
                      <div class="form-group col-lg-12">
                          <label>희망 요일 및 시간</label> 
                          <div><h4><%=student.regularDate%></h4></div>                         
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                      <label>첫 수업 희망일</label>
                      <input type="text" class="form-control" value="<%=student.firstDate%>" disabled>
                    </div>

                    <div class="form-group col-lg-4 col-lg-offset-4 col-lg-pull-4">
                      <label>희망 교재</label>
                      <input type= "text" class="form-control" value="<%=student.book%>" disabled>
                    </div>
                  </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
              </div>
              <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->


    </div>
    <div id="page-wrapper">

      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              신청 선생님 목록
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>나이</th>
                    <th>학교</th>
                    <th>학년</th>
                    <th>상태</th>
                    <th>전화번호</th>
                    <th>수업가능 요일/시간</th>
                    <th>배정</th>
                  </tr>
                </thead>                
                <tbody>
                  <% for(let i = 0; i<teachers.length; i++){ %>
                      <tr>
                        <td><%=i+1%></td>
                        <td class="teacherName"><%=teachers[i].name%></td>
                        <td class="gender"><%=teachers[i].gender%></td>
                        <td><%=teachers[i].age%></td>
                        <td><%=teachers[i].univ%></td>
                        <td><%=teachers[i].grade%></td>
                        <td class="univStatus"><%=teachers[i].univStatus%></td>
                        <td><%=teachers[i].phone%></td>
                        <td><%=teachers[i].available%></td>
                        <td class="center">
                          <button class="teacherId" style="display:none;" value="<%=teachers[i].teacherId%>"></button>
                          <button class="matchButton" value="<%=teachers[i].applyId%>">배정하기</button>
                        </td>
                      </tr>
                    <% }%>    
                  </tbody>
              </table>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/jquery/custom.js"></script>



  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
    $(() => {
      $('.gender').convertGender();
      $('.univStatus').convertUniv();

      $('body').on('click', '.matchButton', (ent) => {
       if(confirm('정말로 매칭하시겠습니까?')){
            $.ajax({ 
              url: '/assignment',
              processData: false,
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify({ 
                applyId: $(ent.target).val(),
                assignId: parseInt($("#assign-form").attr("value")),
                teacherName: $(ent.target).parent().siblings(".teacherName").text(),
                teacherId: parseInt($(ent.target).siblings('.teacherId').val())
              }), 
              success: (data) => {
                alert('매칭완료 되었습니다.');
                location.href = '/student/joined';
              },
              error: (xhr, status, error) => {
                alert(xhr.responseText);
              }
            });
          } 
      });
    });

    $(() => {
      $("#navigation").loadNavigation();
      $('#dataTables-example').children('thead').children('tr').children('th').css('white-space', 'nowrap')
      $('#dataTables-example').children('thead').children('tr').children('th').css('text-align', 'center')
      $('#dataTables-example').children('tbody').children('tr').children('td').css('white-space', 'nowrap')
      $('#dataTables-example').children('tbody').children('tr').children('td').css('text-align', 'center')
      $('#dataTables-example').DataTable({
        responsive: true
      });
  
    });
  </script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
  
    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
  
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
