<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ./title.ejs%>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

       <div id="navigation"></div>

       <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">학생 정보 수정</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                      <div class="form-group col-lg-12">
                                        <h2 id="studentId" value="<%=student.id%>">학생 기본정보</h2>
                                      </div>
                                      <div class="form-group col-lg-6">
                                        <label>전화상담 날짜</label>
                                        <input type="date" id="callingDay" name="callingDay" value="<%=assign.callingDay%>" class="form-control">
                                      </div>
                                      <div class="form-group col-lg-6">      
                                        <label>방문상담 날짜</label>
                                        <input type="date" id="visitingDay" name="visitingDay" value="<%=assign.visitingDay%>" class="form-control">
                                     </div>
                                        <div class="form-group col-lg-4" value="<%=assign.consultStatus%>">
                                            <label>구분</label>
                                            <select name="consultStatus" id="consultStatus" class="form-control">
                                                <option value=3>성공</option>
                                                <option value=2>전화실패</option>
                                                <option value=1>취소</option>
                                                <option value=0>퇴원</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <label>실패 사유</label>
                                            <input name="failReason" id="failReason" value="<%=assign.failReason%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>전화 상담가</label>
                                            <input name="calledConsultant" id="calledConsultant" value="<%=assign.calledConsultant%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>방문 상담가</label>
                                            <input name="visitedConsultant" id="visitedConsultant" value="<%=assign.visitedConsultant%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4" value="<%=assign.knownPath%>">
                                            <label>알게된 경로</label>
                                            <select name="knownPath" id="knownPath" class="form-control">
                                                <option value='명함'>명함</option>
                                                <option value='소개'>소개</option>
                                                <option value='인터넷'>인터넷</option>
                                                <option value='기타'>기타</option>                                                 
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label id="knownPathLabel" style="visibility:hidden">기타경로</label>
                                            <input type="text" class="form-control" name="knownPathEtc" value="" id="knownPathEtc" style="visibility:hidden"/>
                                        </div> 
                                        <div class="form-group col-lg-4">
                                            <label>이름</label>
                                            <input name="name" id="name" value="<%=student.name%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <div class="form-group">
                                                <label>성별</label>
                                                <div class="form-group" id="genderParent" value="<%=student.gender%>">
                                                    <label class="radio-inline">
                                                        <input type="radio" class="gender" name="gender" value=0>남
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="gender" name="gender" value=1>여
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-2">
                                              <label>주소(시/도)</label>
                                                <input type="text" id="address1" name="address1" value="<%=student.address1%>"class="form-control">
                                        </div>
                                         <div class="form-group col-lg-2">
                                              <label>주소(군/구)</label>
                                                <input type="text" id="address2" name="address2" value="<%=student.address2%>" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>상세 주소</label>
                                            <input type="text" id="address3" name="address3" value="<%=student.address3%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2" value="<%=student.school%>">
                                            <label>학교</label>
                                            <select name="school" id="school" class="form-control">
                                                <option value=1>초</option>
                                                <option value=2>중</option>
                                                <option value=3>고</option>                                          
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>학교명</label>
                                            <input name="schoolName" id="schoolName" value="<%=student.schoolName%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4" value="<%=student.grade%>">
                                            <label>학년</label>
                                            <select name="grade" id="grade" class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>학생 연락처</label>
                                            <input name="phone" id="phone" placeholder="000-0000-0000" value="<%=student.phone%>" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>아버지 연락처</label>
                                            <input name="fatherPhone" id="fatherPhone" placeholder="000-0000-0000" value="<%=student.fatherPhone%>" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>어머니 연락처</label>
                                            <input name="motherPhone" id="motherPhone" placeholder="000-0000-0000" value="<%=student.motherPhone%>" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-3" value="<%=assign.subject%>">
                                            <label>희망과목</label>
                                            <select name="subject" id="subject" class="form-control">                                      %>                  
                                                <option value="국어">국어</option>
                                                <option value="영어">영어</option>
                                                <option value="수학">수학</option>
                                                <option value="사회">사회</option>
                                                <option value="과학">과학</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                                <label id="subjectLabel" style="visibility:hidden">기타 과목명</label>
                                                <input type="text" class="form-control"  value="<%=student.subject%>" name="subjectEtc" id="subjectEtc" style="visibility:hidden;"/>
                                            </div>
                                        <div class="form-group col-lg-3" value="<%=assign.classForm%>">
                                            <label>수업형태</label>
                                            <select name= "classForm" id="classForm" class="form-control">
                                                <option value="개인방문">개인방문</option>
                                                <option value="원내그룹">원내그룹</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>차량 지원</label>
                                            <div class="form-group" id="carProvidedParent" value="<%=assign.carProvided%>">
                                                <label class="radio-inline">
                                                    <input type="radio" class="carProvided" name="carProvided" value=1>Y
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="carProvided" name="carProvided" value=0>N
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>학생 성향</label>
                                            <input id="studentMemo" name="studentMemo" value="<%=assign.studentMemo%>" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                          <h2 id="assignId" value="<%=assign.id%>">희망 사항</h2>
                                        </div>

                                        <div class="form-group col-lg-2" value="<%=assign.teacherAge%>">
                                            <label>나이대</label>
                                            <select name="teacherAge" id="teacherAge" class="form-control">
                                                    <option value=20>20대</option>
                                                    <option value=30>30대</option>
                                                    <option value=40>40대</option>
                                                    <option value=50>50대</option>
                                                    <option value=60>60대</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>성별</label>
                                            <div class="form-group" id="teacherGenderParent" value="<%=assign.teacherGender%>">
                                                <label class="radio-inline">
                                                    <input type="radio" class="teacherGender" name="teacherGender" value=0>남
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="teacherGender" name="teacherGender" value=1>여
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <label>희망하는 선생님 성향</label>
                                            <input id="recommended" name="recommended" value="<%=assign.recommended%>" class="form-control">
                                        </div>
                                          <div class="form-group col-lg-12">
                                            <label>희망 수업 시간</label>
                                            <input id="regularDate" name="regularDate" value="<%=assign.regularDate%>" class="form-control">
                                          </div>
                                        <div class="form-group col-lg-4 col-lg-offset-8 col-lg-pull-8" > 
                                            <label>첫 수업 희망일</label>
                                            <input type="date" name="firstDate" id="firstDate" value="<%=assign.firstDate%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>희망 교재</label>
                                            <input id="book" name="book" value="<%=assign.book%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>수강료</label>
                                            <input type="number" id="fee" name="fee" value="<%=assign.fee%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>강의료</label>
                                            <input type="number" id="teacherFee" name="teacherFee" value="<%=assign.teacherFee%>" class="form-control">
                                        </div>


                                        <div class="form-gourp col-lg-12">
                                            <h2 id="teacherId" value="<%=teacher.id%>">배정된 선생님</h2>
                                        </div> 

                                        <div class="panel-body">
                                          <% if(Object.keys(teacher).length>0) { %>
                                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <th>이름</th>
                                                    <th>나이</th>
                                                    <th>성별</th>
                                                    <th>학교</th>
                                                    <th>학년</th>
                                                    <th>상태</th>
                                                    <th>주소</th>
                                                    <th></th>
                                                </thead>                                                
                                                <tbody>
                                                    <td><%=teacher.name%></td>
                                                    <td><%=teacher.age%></td>
                                                    <td class="matchedTeacherGender"><%=teacher.gender%></td>
                                                    <td><%=teacher.university%></td>
                                                    <td><%=teacher.grade%></td>
                                                    <td class="univStatus"><%=teacher.univStatus%></td>
                                                    <td><%=teacher.address%></td>
                                                    <td><input type="button" id="matchButton" value="배정취소"></td>   
                                                </tbody>
                                            </table>
                                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <th>수업 시간</th>
                                                    <th>회차 정보</th>
                                                </thead>    
                                                <tbody>
                                                    <td>
                                                        <% if(schedule.length>0) { %>
                                                        <%  for(let i = 0; i<schedule.length; i++) { %>
                                                                <span class="dayOfSchedule"><%=schedule[i].day%></span> 
                                                                <%=schedule[i].startTime%>~<%=schedule[i].endTime%><br>
                                                        <%  } %>
                                                        <% } else { %>
                                                            <span>미등록</span>
                                                        <% } %>
                                                    </td>
                                                    <td> 앞으로 다가올 회차 : <%=turn.nextCount%>회 ( <%=turn.nextDate%> )<br> 총 회차 : <%=turn.totalCount%>회</td>
                                                </tbody>
                                            </table>

                                          <% } %> 
                                        </div>
                                        <div class="form-gourp col-lg-12">
                                                <h2>성적 정보</h2>
                                        </div> 
                                        <div class="panel-body">
                                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                    <thead>
                                                        <th>년도</th>
                                                        <th>구분</th>
                                                        <th>점수</th>
                                                        <th>등급</th>
                                                    </thead>                                                
                                                    <tbody>
                                                        <% for(let i = 0; i<grade.length; i++) { %>
                                                            <tr>
                                                                <td><%=grade[i].examYear%></td>
                                                                <td><%=grade[i].subject%></td>
                                                                <td><%=grade[i].score%></td>
                                                                <td><%=grade[i].rating%></td>
                                                            </tr>    
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                        </div>                                      
                                        <div class="form-group col-lg-12">
                                          <h2>과거 기록</h2>
                                        </div>
                                        <div value="<%=assign.prevScore%>" class="form-group col-lg-2 col-lg-offset-10 col-lg-pull-10">
                                            <label>현재등급</label>
                                            <select id="prevScore" name="prevScore" class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                </select>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4" value="<%=assign.prevProgram%>">
                                            <label >수강했던 프로그램</label>
                                            <select id="prevProgram" name="prevProgram" class="form-control">              
                                                <option value='학원'>학원</option>
                                                <option value='과외'>과외</option>
                                                <option value='인강'>인강</option>
                                                <option value='독학'>독학</option>
                                                <option value='기타'>기타</option> 
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                                <label id="prevProgramLabel" style="visibility:hidden">기타 프로그램명</label>
                                                <input type="text" class="form-control" value="" name="prevProgramEtc" id="prevProgramEtc" style="visibility:hidden;"/>
                                            </div>
                                        <div class="form-group col-lg-4">
                                            <label>기간</label>
                                          <div class="form-inline">
                                            <input type="date" id="prevStartTerm" name="prevStartTerm"  value="<%=assign.prevStartTerm%>" class="form-control">
                                                <label style="text-align:center;width:auto;">~</label>
                                            <input type="date" id="prevEndTerm" name="prevEndTerm" value="<%=assign.prevEndTerm%>" class="form-control">
                                          </div>

                                        </div>

                                        <div class="form-group col-lg-6">
                                              <label>교재</label>"
                                              <input id="prevUsedBook" name="prevUsedBook" value="<%=assign.prevUsedBook%>" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <label>좋았던 점</label>
                                              <input type="text" id="prevPros" name="prevPros" value="<%=assign.prevPros%>" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <label>아쉬웠던 점</label>
                                              <input type="text" id="prevCons" name="prevCons" value="<%=assign.prevCons%>" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <button type="submit" id="editButton" class="center-block">수정</button>
                                              <span value="<%=teacher.id%>" id="teacherId"></span>
                                        </div>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/jquery/custom.js"></script>
    <script>
        let pathArray = ['명함', '소개', '인터넷'],
            subjectArray = ['영어', '수학','국어', '과학', '사회'],
            proArray = ['과외', '학원', '인강', '독학'],
            classForm = ['개인방문', '원내그룹'],
            genders =  {
                0: "남", 
                1: "여"
            },
            carProvided = {
                0: "N",
                1: "Y"
            },
            numbers = [0,1,2,3,4,5,6,7,8,9],
            teacherAge = [20, 30, 40, 50, 60];

        $(() => {
            $("#navigation").loadNavigation();
            $(".dayOfSchedule").each(function(){
                switch(parseInt($(this).text())){
                    case 1: $(this).text("월"); break;
                    case 2: $(this).text("화"); break;
                    case 3: $(this).text("수"); break;
                    case 4: $(this).text("목"); break;
                    case 5: $(this).text("금"); break;
                    case 6: $(this).text("토"); break;
                    case 7: $(this).text("일"); 
                }
            });
            $('.matchedTeacherGender').convertGender();
            $('.univStatus').convertUniv();
            $(".gender").setRadioOrigin("genderParent");
            $(".teacherGender").setRadioOrigin("teacherGenderParent");
            $(".carProvided").setRadioOrigin("carProvidedParent");
            $("#consultStatus").setOriginWithKey(numbers);
            $("#school").setOriginWithKey(numbers);
            $("#grade").setOriginWithKey(numbers);
            $("#teacherAge").setOriginWithKey(teacherAge);
            $("#prevScore").setOriginWithKey(numbers);
            $("#classForm").setOriginWithKey(classForm);
            

            /*기타에 해당하는 정보가 있으면 select 박스랑 텍스트박스 갱신*/
            $("#knownPath").setOriginWithBox(pathArray, $("#knownPathEtc"), $("#knownPathLabel"));
            $("#subject").setOriginWithBox(subjectArray, $("#subjectEtc"), $("#subjectLabel"));
            $("#prevProgram").setOriginWithBox(proArray, $("#prevProgramEtc"), $("#prevProgramLabel"));


            /*배정취소 여부*/
            var matchCanceled = false;
            $('body').on('click', "#matchButton", (ent)=>{
                if(!matchCanceled){
                    alert("배정을 취소하였습니다. 수정버튼을 눌러주세요.");
                    $(ent.target).val("배정하기");
                    matchCanceled = true;
                }
                else {
                    $(ent.target).val("배정취소"); 
                    matchCanceled = false;   
                }
            });

            let knownPath =  $("#knownPath").find(":selected").prevObject[0].value, 
                subject = $("#subject").find(":selected").prevObject[0].value, 
                prevProgram = $("#prevProgram").find(":selected").prevObject[0].value;
                
                $("#knownPath").change((ent) => {
                    knownPath = $(ent.target).openTextBox($('#knownPathEtc'),$('#knownPathLabel'));
                });
                $("#subject").change((ent) => {
                    subject = $(ent.target).openTextBox($('#subjectEtc'), $("#subjectLabel"));
                });
                $("#prevProgram").change((ent) => {
                    prevProgram = $(ent.target).openTextBox($('#prevProgramEtc'), $("#prevProgramLabel"));
                });

            
            $('#editButton').click(() => {
                if(confirm('정말 수정하시겠습니까?')){
                    if($('#name').val()=='' || $('#schoolName').val()=='') {
                        alert('학생 이름 및 학교명을 입력하세요.');
                        return ent.preventDefault;
                    }

                    let PhoneRegExp = /^\d{2,4}-\d{3,4}-\d{4}$/;
                    let phones = document.querySelectorAll('.phone-number');
                    for(let i in phones){
                        if(!phones[i].value) continue;
                        else if (!PhoneRegExp.test(phones[i].value)){
                            alert("잘못된 전화번호입니다. - 를 포함한 숫자만 입력하세요.");
                            return ent.preventDefault;
                        }
                    }
                    
                    if(knownPath=='기타') knownPath = $('#knownPathEtc').val();
                    if(subject=='기타') subject = $('#subjectEtc').val();
                    if(prevProgram=='기타') prevProgram = $('#prevProgramEtc').val();

                    let studentId = $('#studentId').attr('value');
                    let assignId = $('#assignId').attr('value');
                    let teacherId = $('#teacherId').attr('value');

                    $.ajax({ 
                        url: '/student/'+studentId+'/'+assignId,
                        processData: false,
                        type: 'PUT',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data:  JSON.stringify({
                        assignment: {
                            studentName: $('#name').val(),
                            callingDay: $("#callingDay").val() || new Date(),
                            visitingDay: $("#visitingDay").val() || new Date(),
                            teacherAge: $('#teacherAge').val(),
                            teacherGender: $('input[class=teacherGender]:checked').val(),
                            recommended: $('#recommended').val(),
                            regularDate: $('#regularDate').val(),
                            firstDate: $('#firstDate').val() || new Date(),
                            teacherFee: $('#teacherFee').val(),
                            fee: $('#fee').val(),
                            book: $('#book').val(),
                            consultStatus: $('#consultStatus').val(),
                            failReason: $('#failReason').val(),
                            calledConsultant: $('#calledConsultant').val(),
                            visitedConsultant: $('#visitedConsultant').val(),
                            knownPath: knownPath,
                            subject: subject,
                            classForm: $('#classForm').val(),
                            carProvided: $('input[class=carProvided]:checked').val(),
                            studentMemo: $('#studentMemo').val(),
                            prevProgram: prevProgram,
                            prevStartTerm: $('#prevStartTerm').val() || new Date(),
                            prevEndTerm: $('#prevEndTerm').val() || new Date(),
                            prevUsedBook: $('#prevUsedBook').val(),
                            prevScore: $('#prevScore').val(),
                            prevPros: $('#prevPros').val(),
                            prevCons: $('#prevCons').val()     
                        },
                        student: {
                            schoolName: $('#schoolName').val(),
                            name: $('#name').val(),
                            gender: $("input[class=gender]:checked").val(),
                            address1: $('#address1').val(),
                            address2: $('#address2').val(),
                            address3: $('#address3').val(),
                            school: $('#school').val(),
                            grade: $('#grade').val(),
                            phone: $('#phone').val(),
                            fatherPhone: $('#fatherPhone').val(),
                            motherPhone: $('#motherPhone').val()
                        },
                        matchCanceled: matchCanceled,
                        teacherId: teacherId
                    }), 
                    success: function(data){
                        alert("수정완료 되었습니다.");
                        location.href = '/student/joined';
                    },
                    error: function(xhr, status, error){
                        alert(xhr.responseText);
                    }
                });
            }
        });
    });


    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
